
<!DOCTYPE html>
<!--[if lt IE 10]><html lang="en" class="lt-ie10 no-js"> <![endif]-->
<!--[if lt IE 9]><html lang="en" class="lt-ie9 no-js"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Artist results - {Include title.inc}
	</title>
	<script src="/js/modernizr.js"></script>
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic|Lato:400,700' rel='stylesheet' type='text/css'>
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/master.css" />
	<!--<link rel="stylesheet" type="text/css" href="/css/embark-custom.css" />-->
	<!--[if IE 8]>
		<meta http-equiv="x-ua-compatible" content="IE=8">
	  	<script>var IE8 = true;</script>
	  	<script src="/js/ie/site.ie8.js"></script>
		<link rel="stylesheet" href="/css/site.ie8.css">
	<![endif]-->
	<!--[if IE 9]>
		<script>var IE9 = true;</script>
		<script src="/js/ie/site.ie9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		 <script src="/js/ie/html5shiv.js"></script>
		 <script src="/js/ie/respond.min.js"></script>
	<![endif]-->
</head>
<body class="CollectionPage  shifter">
    <div class="shifter-page">
        <a id="skiptocontent" class="visuallyhidden focusable" href="#main-content">Skip to main content</a>
        {Include header.inc}
        <main class="container main" role="main">
            <div class="row">
                <!-- Section Heading -->


                <div class="col-sm-12">
                    <h3 class="section-title">Search results</h3>
                </div>

               

                <!-- Main Content -->
                <div class="col-md-8 col-lg-8 col-lg-push-3 children">
                    <section id="main-content" tabindex="-1">
                        <h1>Artist results</h1>

                        {pagePopup;Artist Info}
                        <table cellpadding="0" cellspacing="0">
                            <!-- The following will repeat for each record in the page. -->
                            {RecordLoop Start}
                            <tr height="10">
                                <td colspan="3"> </td>
                            </tr>
                            <tr valign="top">
                                {If(Has Image)}
                                <td align="center" valign="middle"><br/>
                                    <a href="{Artist Info}"><img src="{Thumbnail}" height="{Thumbnail Height*.6}" alt=""/></a><br/>
                                </td>
                                {Else}
                                <td align="center" valign="middle"><img src="/graphics/DefaultPostage.gif" alt=""/></td>
                                {EndIf}
                                <td width="10"> </td>
                                <td valign="middle" align="left">
                                    <a href="{Artist Info}">{[Artist_Maker]Display_Name}</a><br/>
                                    {[Artist_Maker]Nat_Culture_L2}<br/>
                                    {[Artist_Maker]Disp_Maker_Life}<br/><br/>
                                </td>
                            </tr>
                            <tr height="3"><td colspan="2"> </td></tr>
                            {RecordLoop End}
                        </table>
                        {Include pagenavigation.inc}
                        <div class="selectionDesc">
                            {Include selectiondescription.inc}
                        </div>
                    </section>
                    </div><!-- end .col -->

 <!-- Side Bar -->

                <div class="col-md-4 col-lg-4 col-lg-pull-8 sidebar">
                    {Include sidenav.inc}
                        
                        <!-- display options start -->
                        <div class="display-options">
                            <div class="smalltxt">View results as:</div>
                            <div class="navtxt">
                                <img src="/graphics/icon2.gif" width="12" height="12" alt=""/>
                                <a href="/LST1?rec={Current Record}&sid={SessionId}&x={Sequence}">text list</a>
                            </div>
                            <div class="navtxt">
                                <img src="/graphics/icon3.gif" width="12" height="12" alt=""/>
                                <a href="ART0?rec={Current Record}&sid={SessionId}&x={Sequence}">biography</a>
                            </div>
                        </div>
                        <!-- display options end -->
                </div>
                    </div><!-- end .row -->
                </main>
                {Include footer.inc}
            </div>
            {Include shifternavigation.inc}
            {Include scripts.inc}
        </body>
    </html>