{Include meta-head.inc}
<body class="CollectionPage  shifter">
    <div class="shifter-page">
        <a id="skiptocontent" class="visuallyhidden focusable" href="#main-content">Skip to main content</a>
        {Include header.inc}
        <main class="container main" role="main">
            <div class="row">
                <!-- Section Heading -->


                <div class="col-sm-12">
                    <h3 class="section-title">Browse collections</h3>
                </div>

                <!-- Side Bar -->

                <div class="col-md-4 col-lg-3 sidebar">
                    {Include sidenav.inc}
                </div>

                <!-- Main Content -->
                <div class="col-md-8 col-lg-8  children">
                    <section id="main-content" tabindex="-1">
                        <h1>Quick Search</h1>
                        <form id="Contains" name="Contains" action="/4DACTION/HANDLECGI/CTN3" method="post" >
                            <p>Enter word(s) below to search on key fields.</p>
                            <p><input size="30" type="text" name="theKW"/>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="submit" name="doSubmit" value="  Find  "/></p>
                            <p><input type="checkbox" name="WholeWord" value="1"/>whole word(s) only</p>
                            <p><input type="checkbox" name="ImagesOnly" value="1"/>with images only</p>
                            <p><input type="radio" name="SearchType" value="all" checked="checked"/>all words
                            <input type="radio" name="SearchType" value="any"/>any words</p>
                            <p><input type="radio" name="RefineSearch" value="NewSelection" checked="checked"/>New Selection
                            <input type="radio" name="RefineSearch" value="AddToCurrent"/>Add to Current Selection
                            <input type="radio" name="RefineSearch" value="WithinCurrent"/>Search only Current Selection</p>
                            <p>Sort by: <select name="sort"><option value="9">Title</option><option value="7">Artist</option></select></p>
                            <input type="hidden" name="sid" value="{SessionID}"/>
                        </form>
                        {if(Records)}
                        <p>
                        <br/><br/>
                        <strong>Your current selection of {Records - Object} records is:</strong><br/>
                        {Selection Name Object}
                        </p>
                        {end if}
                        <p><strong>Other Search Options:</strong><br/>
                        <a href="/QS_2?sid={SessionId}&x={Sequence}">Advanced</a> |
                        Quick Search |
                        <a href="/kiosk/search.htm?sid={SessionId}&x={Sequence}">Custom</a> |
                        <a href="/QS_6?sid={SessionId}&x={Sequence}">Date</a> |
                        <a href="/QS_4?sid={SessionId}&x={Sequence}">Keywords</a> |
                        <a href="/QS_1?sid={SessionId}&x={Sequence}">Artist Biographies</a></p>

                    </section>
                    </div><!-- end .col -->
                    </div><!-- end .row -->
                </main>
                {Include footer.inc}
            </div>
            {Include shifternavigation.inc}
            {Include scripts.inc}
        </body>
    </html>