{Include meta-head.inc}

<body class="CollectionPage  shifter">
<div class="shifter-page">
    <a id="skiptocontent" class="visuallyhidden focusable" href="#main-content">Skip to main content</a>

    {Include header.inc}

    <main class="container main" role="main">
    <div class="row">
        <!-- Section Heading -->
        
            
        <div class="col-sm-12">
            <h3 class="section-title">Browse Collection</h3>
        </div>

        

        <!-- Side Bar -->
        
        <div class="col-md-4 col-lg-3 sidebar">
            {Include sidenav.inc}
        </div>
        

        <!-- Main Content -->
        <div class="col-md-8 col-lg-8  children">
            <section id="main-content" tabindex="-1">
                <h1>{Branch title;Online Collections}</h1><br>
<form action="/4DACTION/HANDLECGI/QSF2?display=POR" method="POST" name="QuickSearch">
    <h1>Advanced Search</h1>

<br><br>

    <table cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td>&nbsp;</td>
                        <td>Field to search:</td>
                        <td>Value:</td>
                        <td>&nbsp;</td>
                    </tr>

                    <!-- The following will repeat for each line of search criteria the user adds. -->
                    {LineLoop Start}
                        <tr>
                            <td>{SearchType}</td>
                            <td>{Field Popup}</td>
                            <td>{Value Popup}</td>
                            <td>{Line Buttons}</td>
                        </tr>
                    {LineLoop End}

                </table>

                <p><input type="checkbox" name="ImagesOnly" value="1"/>with images only</p>

                <p><input type="radio" name="RefineSearch" value="NewSelection" checked="checked"/>New Selection
                <input type="radio" name="RefineSearch" value="AddToCurrent"/>Add to Current Selection
                <input type="radio" name="RefineSearch" value="WithinCurrent"/>Search only Current Selection</p>

    <p>Sort by: <select name="sort"><option value="7">Artist</option><option value="62">Creation Date</option><option value="53">Medium</option><option value="9">Title</option></select></p>

                <p class="centered"><input type="submit" value="Find"/></p>

                <br/><br/>

                {if(Records)}
                    <p>
                        <br/><br/>
                        <b>Your current selection of {Records - Object} records is:</b><br/>
                        {Selection Name Object}
                    </p>
                {end if}

                <p><b>Other Search Options:</b><br/>
                Advanced |
        <a href="/kiosk/search.htm?sid={SessionId}&x={Sequence}">Custom</a> |
                <a href="/QS_6?sid={SessionId}&x={Sequence}">Date</a> |
                <!-- <a href="/QS_4?sid={SessionId}&x={Sequence}">Keywords</a> | -->
                <a href="/QS_1?sid={SessionId}&x={Sequence}">Artist Biographies</a></p>
            </td>
        </tr>
    </table>
<input type="hidden" name="sid" value="{SessionID}"/>

</form>
            </section>
        </div><!-- end .col -->
    </div><!-- end .row -->
</main>
{Include footer.inc}
</div>

{Include shifternavigation.inc}

{Include scripts.inc}
</body>
</html>





