{Include meta-head.inc}
<body class="CollectionPage  shifter">
    <div class="shifter-page">
        <a id="skiptocontent" class="visuallyhidden focusable" href="#main-content">Skip to main content</a>
        {Include header.inc}
        <main class="container main" role="main">
            <div class="row">
                <!-- Section Heading -->


                <div class="col-sm-12">
                    <h3 class="section-title">Browse collections</h3>
                </div>

                <!-- Side Bar -->

                <div class="col-md-4 col-lg-3 sidebar">
                    {Include sidenav.inc}
                </div>

                <!-- Main Content -->
                <div class="col-md-8 col-lg-8  children">
                    <section id="main-content" tabindex="-1">
                        <form action="/4DACTION/HANDLECGI/QSF1" method="post" name="QuickSearch">
                            <h1>Search for Artist Biographies</h1>
                            <table cellpadding="0" cellspacing="0" width="500">
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" width="580">
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>Field to search:</td>
                                                <td>Value:</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <!-- The following will repeat for each line of search criteria that the user creates.-->
                                            {LineLoop Start}
                                            <tr>
                                                <td>{SearchType}</td>
                                                <td>{Field Popup}</td>
                                                <td>{Value Popup}</td>
                                                <td>{Line Buttons}</td>
                                            </tr>
                                            {LineLoop End}
                                        </table>

                                        <p><input type="checkbox" name="ImagesOnly" value="1"/>with images only</p>
                                        <p><input type="radio" name="RefineSearch" value="NewSelection" checked="checked"/>New Selection
                                        <input type="radio" name="RefineSearch" value="AddToCurrent"/>Add to Current Selection
                                        <input type="radio" name="RefineSearch" value="WithinCurrent"/>Search only Current Selection</p>
                                        <p class="centered"><input type="submit" value="Find"/></p>
                                    </td>
                                </tr>
                            </table>
                            <input type="hidden" name="sid" value="{SessionID}"/>
                        </form>
                        {if(Records - Artist)}
                        <p>
                        <br/><br/>
                        <b>Your current selection of {Records - Artist} records is:</b><br/>
                        {Selection Name Artist}
                        </p>
                        {end if}
                        <p><b>Other Search Options:</b><br/>
                        <a href="/kiosk/search.htm?sid={SessionId}&x={Sequence}">Advanced Search</a> |
                        Artist Biographies</p>

                    </section>
                    </div><!-- end .col -->
                    </div><!-- end .row -->
                </main>
                {Include footer.inc}
            </div>
            {Include shifternavigation.inc}
            {Include scripts.inc}
        </body>
    </html>