
<!DOCTYPE html>
<!--[if lt IE 10]><html lang="en" class="lt-ie10 no-js"> <![endif]-->
<!--[if lt IE 9]><html lang="en" class="lt-ie9 no-js"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{[Objects_1]Disp_Title} - {Include title.inc}
	</title>
	<script src="/js/modernizr.js"></script>
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic|Lato:400,700' rel='stylesheet' type='text/css'>
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/master.css" />
	<link rel="stylesheet" type="text/css" href="/css/embark-custom.css" />
	<!--[if IE 8]>
		<meta http-equiv="x-ua-compatible" content="IE=8">
	  	<script>var IE8 = true;</script>
	  	<script src="/js/ie/site.ie8.js"></script>
		<link rel="stylesheet" href="/css/site.ie8.css">
	<![endif]-->
	<!--[if IE 9]>
		<script>var IE9 = true;</script>
		<script src="/js/ie/site.ie9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		 <script src="/js/ie/html5shiv.js"></script>
		 <script src="/js/ie/respond.min.js"></script>
	<![endif]-->
</head>
<body class="CollectionPage  shifter">
    <div class="shifter-page">
        <a id="skiptocontent" class="visuallyhidden focusable" href="#main-content">Skip to main content</a>
        {Include header.inc}
        <main class="container main" role="main">
            <div class="row">
                <!-- Section Heading -->


                <div class="col-sm-12">
                    <h3 class="section-title">Detail</h3>
                </div>

                <!-- Side Bar -->

                <div class="col-md-4 col-lg-3 sidebar">
                    {Include sidenav.inc}
                </div>

                <!-- Main Content -->
                <div class="col-md-8 col-lg-8  children">
                    <section id="main-content" tabindex="-1">
                        <h1><a href="{Object Info}" onmouseover="self.status = 'Display Object Description';return true" onmouseout="self.status = '';return true" title="Display Object Description">{[Objects_1]Disp_Title}</a></h1>
                        <span class="smalltxt"><a href="{Object Info}" onmouseover="self.status = 'Display Object Description';return true" onmouseout="self.status = '';return true" title="Display Object Description">return to object descriptions</a></span>
                        <br/><br/>
                        {Include activerecords.inc}
                        <strong>Detail images</strong><br/>
                        {Include pagenavigation.inc}
                        {Detail Caption}
                        <center>
                        {if(Has Image)}
                        {if(Image height=="0")}
                        <object
                        classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" width="200" height="20"
                        codebase="http://www.apple.com/qtactivex/qtplugin.cab">
                        <param name="SRC" value="{Image Path}">
                        <param name="AUTOPLAY" value="true">
                        <param name="CONTROLLER" value="true">
                        <embed
                            src="{Image Path}" width="{Image width}" height="{Image height}"
                            autoplay="true" controller="false"
                            pluginspage="http://www.apple.com/quicktime/download/">
                        </embed>
                        </object>
                        {else}
                        {if(Image duration=="0")}
                        <img src="{Image Path;DefaultPreview.gif}" alt="{Detail Caption}"/>
                        {else}
                        <object
                        classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" width="{Image width}" height="{Image height+20}"
                        codebase="http://www.apple.com/qtactivex/qtplugin.cab">
                        <param name="SRC" value="{Image Path}">
                        <param name="AUTOPLAY" value="true">
                        <param name="CONTROLLER" value="true">
                        <embed
                            src="{Image Path}" width="{Image width}" height="{Image height}"
                            autoplay="true" controller="false"
                            pluginspage="http://www.apple.com/quicktime/download/">
                        </embed>
                        </object>
                        {end if}
                        {end if}
                        {else}
                        This object does not have an image.
                        {end if}
                        </center>>

                    </section>
                    </div><!-- end .col -->
                    </div><!-- end .row -->
                </main>
                {Include footer.inc}
            </div>
            {Include shifternavigation.inc}
            {Include scripts.inc}
        </body>
    </html>