{Include meta-head.inc}

<body class="CollectionPage shifter">
<div class="shifter-page">
	<a id="skiptocontent" class="visuallyhidden focusable" href="#main-content">Skip to main content</a>

	{Include header.inc}

	<main class="container main" role="main">
	<div class="row">
		<!-- Section Heading -->
		
			
		<div class="col-sm-12">
			<h3 class="section-title">Browse collections</h3>
		</div>

		

		<!-- Side Bar -->
		
		<div class="col-md-4 col-lg-3 sidebar">
			{Include sidenav.inc}
		</div>
		

		<!-- Main Content -->
		<div class="col-md-8 col-lg-8  children">
			<section id="main-content" tabindex="-1">
			    <h1>{Branch title;All collections}</h1>
				    <!-- Hide 'up a level' at top level -->
			    {if(_ID!="-1")}
			    	<span class="smalltxt"><a href="{ParentLink}">&uarr; Go up a level</a></span>
				{else}
			    
			    {end if}

				<ul class="collectionsholder justify-4">
					<!-- child branches start -->
					{RecordLoop Start}
						{Include collectionitem.inc}
					{RecordLoop End}
					<!-- child branches end -->
					<li class="justify-item filler"></li>
				</ul>
			</section>
		</div><!-- end .col -->
	</div><!-- end .row -->
</main>
{Include footer.inc}
</div>

{Include shifternavigation.inc}

{Include scripts.inc}
</body>
</html>