
<!DOCTYPE html>
<!--[if lt IE 10]><html lang="en" class="lt-ie10 no-js"> <![endif]-->
<!--[if lt IE 9]><html lang="en" class="lt-ie9 no-js"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{[Objects_1]Disp_Title} - {Include title.inc}
	</title>
	<script src="/js/modernizr.js"></script>
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic|Lato:400,700' rel='stylesheet' type='text/css'>
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/master.css" />
	<!--<link rel="stylesheet" type="text/css" href="/css/embark-custom.css" />-->
	<!--[if IE 8]>
		<meta http-equiv="x-ua-compatible" content="IE=8">
	  	<script>var IE8 = true;</script>
	  	<script src="/js/ie/site.ie8.js"></script>
		<link rel="stylesheet" href="/css/site.ie8.css">
	<![endif]-->
	<!--[if IE 9]>
		<script>var IE9 = true;</script>
		<script src="/js/ie/site.ie9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		 <script src="/js/ie/html5shiv.js"></script>
		 <script src="/js/ie/respond.min.js"></script>
	<![endif]-->
</head>

<body class="CollectionPage  shifter">
  <script type="text/javascript">
    <!--
		function submitPop(page,SessionID) {
			self.document.forms["popup"].action = "/OBJ" + "?sid=" + SessionID + "&rec=" + ( page + 1 );
			self.document.forms["popup"].submit();
		}
		function goFullscreen(id) {
			var element = document.getElementById(id);       
			if (element.mozRequestFullScreen) {
			element.mozRequestFullScreen();
		} else if (element.webkitRequestFullScreen) {
			element.webkitRequestFullScreen();
		}  
		}
    -->
  </script>
  <script type="text/javascript" src="/scripts/html5media.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="/scripts/gmaps/gmaps.js"></script>
  <script type="text/javascript" src="/scripts/gmaps/prettify.js"></script>

 <script type="text/javascript">
  
  var Lat = {[Objects_1]User_Def_7};
  var Lon = {[Objects_1]User_Def_8};
  
  <!--
    var map;
    $(document).ready(function(){
      prettyPrint();
      map = new GMaps({
        div: '#map',
		zoom: 5,
        lat: Lat,
        lng: Lon
      });
      map.addMarker({
        lat: Lat,
        lng: Lon,
        title: '',
        details: {
          database_id: 42,
          author: 'HPNeo'
        },
        click: function(e){
          if(console.log)
            console.log(e);
          alert('You clicked in this marker');
        }
      });
      map.addMarker({
        lat: Lat,
        lng: Lon,
        title: 'Marker with InfoWindow',
        infoWindow: {
          content: '<p></p>'
        }
      });
    });
-->

    </script>
	<div class="shifter-page">
	<a id="skiptocontent" class="visuallyhidden focusable" href="#main-content">Skip to main content</a>

	{Include header.inc}

{if(Has Image)}
					<section class="artwork-image">
				{if(Image height=="0")}
					
						<div class="container">
							<img src="{Image Path}" alt="Joan Miró ">
							
						</div>
					
				{else}
		        {if(Image duration=="0")}
					<a class="highslide" href="{Image Path}" onclick="return hs.expand(this, hs.__.paramGallery);" target="_blank"><img class="main" src="{preview}" width="{thumbnail width*2.3}" height="{thumbnail height*2.3}" alt="Image: {[Objects_1]Disp_Title}" /></a><br>
		        {else}
		 <object
		 classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" width="{image width}" height="{image height}"
		 codebase="http://www.apple.com/qtactivex/qtplugin.cab">
		 <param name="SRC" value="{Image Path}">
		 <param name="AUTOPLAY" value="true">
		 <param name="CONTROLLER" value="true">
		 <embed
		 src="{Image Path}" width="{image width}" height="{image height+15}"
		 autoplay="true" controller="true"
		 pluginspage="http://www.apple.com/quicktime/download/">
		 </embed>
		 </object>

		        {end if}
		        </section>
				{end if}
				{else}
				This object does not have an image.
				{end if}
				
	<main class="container main" role="main">
	<div class="row">
		<!-- Section Heading -->
		
			


		

		<!-- Side Bar -->
		
		<div class="col-md-4 col-lg-3 sidebar">
			<h2>Collection object</h2>

			{Include sidenav.inc}
				<div class="display-options">
					<div class="smalltxt">View results as:</div>
					<div class="navtxt">
						<img src="/graphics/icon1.gif" width="12" height="12" alt=""/>
						<a href="/THU?rec={Current Record}&sid={SessionId}&x={Sequence}">thumbnails</a>
					</div>
					<div class="navtxt">
						<img src="/graphics/icon2.gif" width="12" height="12" alt=""/>
						<a href="/LST2?rec={Current Record}&sid={SessionId}&x={Sequence}">text list</a>
					</div>
					<div class="navtxt">
						<img src="/graphics/icon2.gif" width="12" height="12" alt=""/>
						<a href="/PRT0?rec={Current Record}&sid={SessionId}&x={Sequence}">image &amp; label</a>
					</div>
					<div class="navtxt">
						<img src="/graphics/icon3b.gif" width="12" height="12" alt=""/>
						descriptions
					</div>
				</div>
		</div>
		

		<!-- Main Content -->
		<div class="col-md-8 col-lg-8  children">
			<section id="main-content" tabindex="-1">



				
				

				

	

					{if([Objects_1]Object Description!="")}{[Objects_1]Object Description}{end if}




					{Start Loop [Object_Artist]}
						<h1 class="art-title"><a href="{Artist Info}">{[Artist_Maker]Full_Name}</a></h1>
						<!-- {Concat("; ", [Artist_Maker]Start_Date_Disp, [Artist_Maker]Birth_Place)}<br> -->
						<div class="cutline">
						{if ([Artist_Maker]Nat_Culture_L3 != "")}{[Artist_Maker]Nat_Culture_L3}<br>{end if}
						{Concat(" - ", [Artist_Maker]Start_Date_Disp, [Artist_Maker]End_Date_Disp)}<br>
						{if ([Object_Artist]Role != "")}
							{concat(", ", [Object_Artist]Role, [Object_Artist]Place, [Object_Artist]Disp_Cont_Date)}
							{end if}
						</div>
					{End Loop}
					<br />
					<div class="cutline">
					<!-- label copy start -->
					<em>{[Objects_1]Disp_Title}</em><br>
					{if([Objects_1]Disp_Create_DT!="")}{[Objects_1]Disp_Create_DT}<br>{end if}
					{if([Objects_1]Century!="")}{[Objects_1]Century}<br>{end if}
					{if([Objects_1]Disp_Medium!="")}{[Objects_1]Disp_Medium}<br>{end if}
					{if([Objects_1]Disp_Dimen!="")}{[Objects_1]Disp_Dimen}<br>{end if}
					<!-- label copy end -->
					</div>


					<hr />

		<div class="row">

		<div class="col-lg-8">
			{if ([Objects_1]Technique!="")}
				<div class="object-info-field"><h2>Technique</h2><p>{[Objects_1]Technique}</p></div>
			{end if}
			
			{if ([Objects_1]Class_System!="")}
				<div class="object-info-field"><h2>Curatorial department</h2><p>{[Objects_1]Class_System}</p></div>
			{end if}
			
			{if ([Objects_1]Creation_Place2!="")}
				<div class="object-info-field"><h2>Region</h2> <p>{[Objects_1]Creation_Place2}</p></div>
			{end if}

			{if ([Objects_1]Dedication!="")}
				<div class="object-info-field"><h2>Credit line</h2><p>{[Objects_1]Dedication}</p></div>
			{end if}
			
				<!--<div class="object-info-field"><strong>Legal Status Date:</strong>-->
				<!-- info about globalizeDate is at https://github.com/jquery/globalize#parseDate -->
				<!--{[Objects_1]Lgl_Stts_Date}</div>-->

			{if ([Objects_1]Disp_Access_No!="")}
				<div class="object-info-field"><h2>Accession number</h2><p>{[Objects_1]Disp_Access_No}</p></div>
			{end if}
				{if ([Dimensions])}	
					<ul class="large-block-grid-3 small-block-grid-2">
				    {Start Loop([Dimensions]Dimen_Subject!="";Order by [Dimensions]Dimen_Subject >)}
				    	<li>
					    	<div class="object-info-field">
					    		<h2>Subject</h2>
					    		<p>{[Dimensions]Dimen_Subject}</p>
					    		<h2>Dimensions</h2>
					    		<p>{[Dimensions]Disp_Dimen}</p>
					    	</div>
				    	</li>
				    {End Loop}
				    </ul>
				{End if}					

			{if ([Objects_1]Info_Page_Comm!="")}
			<div class="object-info-field"><h2>Comments</h2> {[Objects_1]Info_Page_Comm}</div>
			{end if}
			<div class="objnotes-record-box">
			<h2>Additional notes</h2>
			<p>{Notes}</p>
			</div>
		</div>

		{if ([Surrogates])}
		<div class="col-lg-4 text-right">
			<strong>Additional Images</strong>
			{Start Loop([Surrogates];[Surrogates]IsPrimary=="no";Order By [Surrogates]_ID)}
			<div class="objsur-record-box">
				<div class="objsur-thumbnail">
				{if(Has Image)}
			{if(Image duration=="0")}
			<a class="item highslide" href="{Image Path}" onclick="return hs.expand(this, hs.__.paramGallery);"><img src="{thumbnail}" height="{thumbnail height}" width="{thumbnail width}" alt"Image: {[Surrogates]View_1}" /><br></a></div>
			{end if}	
			    <div class="objsur-label">{if([Surrogates]View_1!="")}{[Surrogates]View_1}<br/>{end if}</div>
			    <div class="objsur-label"></div>
			</div>
			{End If}
			{End Loop}
		</div>
		{end if}
		</div>

		<p><i>Please be aware that the UIMA Online Collections were created from historic documentation. Not all cataloguing records have been reviewed by a curator and some may be inaccurate or incomplete. Our records are frequently updated and revised.</i></p>

		<div class="objkeywords-record-box">
		{if ([Keywords])}
		<strong>Keywords:</strong>
		<ul>
		{Start Loop [Keywords]}
		<li><a href="/4DACTION/HANDLECGI/QSF4?display=por&sid={SessionId}&KW0={[Keywords]_New_Pathnums}&KWID0={[Keywords]_New_ID}&SearchType=ALL&RefineSearch=NewSelection">{[Keywords]Word}</a>  <!-- {if ([Keywords]Notes != "")} -- {[Keywords]Notes}{end if} -->  </li>
		{End Loop}
		</ul>
		{end if}
		</div>



		<!-- Display map with gmaps.js -->
		<!-- This code is dependent on having Latitude and Longitude data in two object fields, such as User_Def_7 and User_Def_8 in the example below.  The code can be changed for any two Object fields. Be sure to adjust the script in the header if different fields are used. -->
		{if([Objects_1]User_Def_7!="")}{if([Objects_1]User_Def_8!="")}
		<hr>
	

		        <div class="popin">
		          <div id="map"></div>
		        </div>
				<div class="smalltxt"><center>Latitude: {[Objects_1]User_Def_7} - Longitude: {[Objects_1]User_Def_8}</center></div>
		{end if}{end if}


		{if (Has Parent)}
		<hr>
		<div class="objrelated-record-box">
		<p>
		    <strong>Related Parents:</strong>
		    {Start Loop([Related_Object]Type=="Parent")}
			<div class="objrelated-record-box">
				<div class="objrelated-thumbnail"><a href="/obj{_ID}.htm?sid={SessionId}&x={Sequence}"><img src="{Thumbnail}" border="0"></a></div>
				<div class="objrelated-label"><a href="/obj{_ID}.htm?sid={SessionId}&x={Sequence}">{[Objects_1]Disp_Title}</a></div>
			</div>
		    {End Loop}
		</div>
		{end if}

		{if (Has Sibling)}
		<hr>
		<div class="objrelated-record-box">

		<p>
		    <strong>Related Siblings(s):</strong>
		    {Start Loop([Related_Object]Type=="Sibling")}
			<div class="objrelated-record-box">
				<div class="objrelated-thumbnail"><a href="/obj{_ID}.htm?sid={SessionId}&x={Sequence}"><img src="{Thumbnail}" border="0"></a></div>
				<div class="objrelated-label"><a href="/obj{_ID}.htm?sid={SessionId}&x={Sequence}">{[Objects_1]Disp_Title}</a></div>
			</div>
		    {End Loop}
		</div>
		{end if}

		{if (Has Child)}
		<hr>
		<div class="objrelated-record-box">
		<p>
		    <strong>Related Children:</strong>
		    <ul class="collectionsholder justify-4">
		    {Start Loop([Related_Object]Type=="Child")}
		    	{Include portfolioitem.inc}
		    {End Loop}
		    	<li class="justify-item filler"></li>
		    </ul>
		</div>
		{end if}
			


		{if ([Biblio_Citation])}
		<hr>
		<p>
		    <strong>Bibliography</strong><br/>
		    This object has the following bibliographic references:
		    <ul>
		    {Start Loop([Biblio_Citation])}
			<li>
		      {if ([Biblio_Citation]Doc_Author_1!="")}{if ([Biblio_Citation]Doc_Author_2=="")}{[Biblio_Citation]Doc_Author_1}.{end if}{end if} 
			  {if ([Biblio_Citation]Doc_Author_2!="")}{[Biblio_Citation]Doc_Author_1} and {[Biblio_Citation]Doc_Author_2}.{end if}  
			  {if ([Biblio_Citation]Doc_Author_1=="")}{if ([Biblio_Citation]Doc_Author_2=="")}{if ([Biblio_Citation]Doc_Editor!="")}{[Biblio_Citation]Doc_Editor}, ed.{end if}{end if}{end if}
			  {[Biblio_Citation]Doc_title}.
			  {if([Biblio_Citation]Publisher!="")}{[Biblio_Citation]Publisher}.{end if}
		      {if([Biblio_Citation]Doc_Pub_Place!="")}{[Biblio_Citation]Doc_Pub_Place}{end if}
		      {if([Biblio_Citation]Doc_Date!="")}, {[Biblio_Citation]Doc_Date}.{end if}
		      {if ([Object_Biblio]Page_Nums!="")}Page Number: {[Object_Biblio]Page_Nums}.{end if}
		      {if ([Object_Biblio]Figure_Nums!="")}Figure Number: {[Object_Biblio]Figure_Nums}{end if}</li>
		    {End Loop}
		    </ul>
		</p>
		{end if}

		{if ([Portfolios])}
		<hr>
		<strong>Portfolio List</strong>
		This object is a member of the following portfolios (click any portfolio name to view all objects in that portfolio):

		<ul class="collectionsholder justify-4">
		{Start Loop([Portfolios])}
			<li class="justify-item">
				<a href="{Portfolio}&display=POR">
				<div class="collection-box" style="background-image: url({Thumbnail});">
					<h2 class="title">{Portfolio Name}</h2>
				</div>
				</a>
			</li>
		{End Loop}
		<li class="justify-item filler"></li>
		</ul>
		{end if}

		<div id="clearDiv"></div>

		<hr><!-- <br>View Current Selection of Records as: <ul>
		<li><a href="results.html?sid={SessionId}&layout=cdwa&format=xml&maximumrecords=-1&recordType=objects_1&query=[Objects_1]_Objects_1_id within Current Selection" target=_blank>CDWA Lite XML</a>
		<li><a href="results.html?sid={SessionId}&layout=lido&format=xml&maximumrecords=-1&recordType=objects_1&query=[Objects_1]_Objects_1_id within Current Selection" target=_blank>LIDO XML</a>
		</ul>
		<hr>
		<br> -->

		{Include formaddtoport.inc}
				
		
		
		{Include addobjtoportfolio.inc}
		{Include pagenavigation.inc}
		{Include selectiondescription.inc}
		<!--{Popup;Object Info;<<[Objects_1]Disp_Title>> - <<[Objects_1]Disp_Maker_1>>}-->
<a onclick="window.print();return false;" href="#">Print this page</a><br />

					{if(Logged In)}
						<a href="javascript:addToPort({SessionID},'&x={Sequence}',{_ID});" onmouseover="self.status='Add this object to a portfolio';return true;" onmouseout="self.statue='';return true;" class="navtxt">Add to portfolio</a> &gt;<br>
						{if(Editing Portfolio)}
							&lt; <a href="{RemoveFromPortfolio}&display=INF" onmouseover="self.status='Remove this object from the portfolio';return true;" onmouseout= "self.status='';return true;" class="navtxt">Remove from &quot;{Portfolio Name}&quot;</a><br>
						{end if}
					{end if}
				
					<!-- Zoomify HTML5 link. You must use the Zoomify utility available at http://www.zoomify.com to convert your high-res files to Zoomify format. -->
					<!-- Save ZoomifyImageViewer-min.js to the webfolder/scripts directory. Purchase file at http://www.zoomify.com -->
					<!-- {if ([Objects_1]Web_Access=="yes")}
						<a href="{Custom;zoomobject5;Current}&x={Sequence}" onmouseover="self.status = 'View Zoom Image';return true" onmouseout="self.status = '';return true"><strong>Zoomable Image - HTML 5 Viewer</strong></a><br>
					{end if} -->

					<!-- Zoom link. You must use the Zoomify utility available at http://www.zoomify.com to convert your high-res files to Zoomify format. -->
					<!-- {if ([Objects_1]Web_Access=="yes")}
						<a href="{Custom;zoomobject;Current}&x={Sequence}" onmouseover="self.status = 'View Zoom Image';return true" onmouseout="self.status = '';return true"><strong>Zoomable Image - Flash Viewer</strong></a><br>
					{end if} -->

					<!-- Sample code for the 'SubmitFile' feature. Template that opens is custom/sampleform.htm -->
					<a href="{Custom;SampleForm;Current}" class="navtxt">Submit comments about this object</a><br>
		
					<!-- Sample code end -->
					
					<!-- AddThis Button BEGIN -->
					<!-- This code must be updated for your own AddThis account at http://www.addthis.com. Please note the example for customizing the URL to make a bookmarkable URL without session id information. -->
					<a href="http://www.addthis.com/bookmark.php" onclick="addthis_url='http://YOUR_URL.com/Obj<!--#4DVAR [Objects_1]_Objects_1_ID-->';  addthis_title = document.title; return addthis_click(this);" target="_blank"><img src="http://s9.addthis.com/button1-bm.gif" width="125" height="16" border="0" alt="Bookmark and Share" /></a> <script type="text/javascript">var addthis_pub = '<your account name>';</script><script type="text/javascript" src="http://s9.addthis.com/js/widget.php?v=10"></script>
					<!-- AddThis Button END -->
			</section>
		</div><!-- end .col -->
	</div><!-- end .row -->
</main>
{Include footer.inc}
</div>

{Include shifternavigation.inc}

{Include scripts.inc}
</body>
</html>

