{Include meta-head.inc}
<body class="CollectionPage  shifter">
    <div class="shifter-page">
        <a id="skiptocontent" class="visuallyhidden focusable" href="#main-content">Skip to main content</a>
        {Include header.inc}
        <main class="container main" role="main">
            <div class="row">
                <!-- Section Heading -->


                <div class="col-sm-12">
                    <h3 class="section-title">Browse collections</h3>
                </div>

                <!-- Side Bar -->

                <div class="col-md-4 col-lg-3 sidebar">
                    {Include sidenav.inc}
                </div>

                <!-- Main Content -->
                <div class="col-md-8 col-lg-8  children">
                    <section id="main-content" tabindex="-1">
                        <div class="right">{Include activerecords.inc}</div>
                        <h1>Portfolio Index</h1>

                        {Popup;portfolio}
                        <!-- The following will repeat for each record in the page.
                        The kiosk will take care of inserting <tr> tags as appropriate. -->
                            {RecordLoop Start}
                            <div class="portfolio-index-record-box">
                                <div class="portfolio-index-thumbnail">
                                    {If(Has Image)}
                                    <a href="{Portfolio}&display=th"><img src="{thumbnail}" alt=""/></a>
                                    {Else}
                                    <a href="{Portfolio}&display=th"><img src="/graphics/DefaultPostage.gif" alt=""/></a>
                                    {End If}
                                </div>
                                <div class="portfolio-index-label">
                                    <a href="{Portfolio}&display=th">{Portfolio Name}</a><br>
                                    {Portfolio Size} record(s)
                                </div>
                            </div>
                            {RecordLoop End}

                        </section>
                        {Include pagenavigation.inc}
                        </div><!-- end .col -->
                        </div><!-- end .row -->
                    </main>
                    {Include footer.inc}
                </div>
                {Include shifternavigation.inc}
                {Include scripts.inc}
            </body>
        </html>