{Include meta-head.inc}
<body class="CollectionPage  shifter">
    <div class="shifter-page">
        <a id="skiptocontent" class="visuallyhidden focusable" href="#main-content">Skip to main content</a>
        {Include header.inc}
        <main class="container main" role="main">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-sm-12">
                    <h3 class="section-title">Browse collections</h3>
                </div>
                <!-- Side Bar -->
                <div class="col-md-4 col-lg-3 sidebar">
                    {Include sidenav.inc}
                </div>
                <!-- Main Content -->
                <div class="col-md-8 col-lg-8  children">
                    <section id="main-content" tabindex="-1">
                        <h1>Portfolio Management</h1>
                        <p class="err">{Message}</p>
                        {if(Records)}
                        <p><a href="javascript:addToPort('{SessionID}','&x={Sequence}','-1');">Add</a> current selection of objects to a portfolio.</p>
                        {end if}
                        <!-- The following will repeat for each record in the page. -->
                        {RecordLoop Start}
                        <div class="list-row">
                            <table width="100%">
                                <tr>
                                    <td valign="top">
                                        <a href="{Portfolio}">{Portfolio Name}</a><br/>
                                        <span class="smalltxt">
                                        {Portfolio Size} record(s)
                                        {if(Can Share)}
                                        {if(Shared)}
                                        Shared
                                        {else}
                                        Not Shared
                                        {end if}
                                        {end if}
                                        </span>
                                    </td>
                                    <td class="navtxt" align="right" valign="top">
                                        <a href="UEdit{_ID}?sid={SessionId}&x={Sequence}">Remove Objects</a> |
                                        <a href="/USort{_ID}?sid={SessionId}&x={Sequence}">Change Sort Order</a> |
                                        <a href="/UPP{_ID}?sid={SessionId}&x={Sequence}">Properties</a> |
                                        <a href="javascript:areUsure('/UDel{_ID}?sid={SessionId}&x={Sequence}','{Portfolio Name}');">Delete</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {RecordLoop End}
                        {Include formaddtoport.inc}
                    </section>
                    </div><!-- end .col -->
                    </div><!-- end .row -->
                </main>
                {Include footer.inc}
            </div>
            {Include shifternavigation.inc}
            {Include scripts.inc}
        </body>
    </html>